<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Todo List</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        #vm {
            margin-top: 10px;
        }

        th, td {
            text-align: center;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div class="container" id="vm">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                TodoList
                <small> 共{{todoList.length}}个待办项</small>
                <button class="btn btn-success pull-right" @click="addOne()">
                    <i class="glyphicon glyphicon-plus"></i> 新增
                </button>
            </h3>
        </div>
        <div class="panel-body">

        </div>
        <table class="table table-striped table-hover" v-cloak>
            <tr>
                <th width="50">#</th>
                <th>待办项</th>
                <th>操作</th>
            </tr>
            <tr v-for="(item, index) in todoList">
                <td>{{index + 1}}</td>
                <td>{{item.content}}</td>
                <td></td>
            </tr>
            <tr v-show="todoList.length === 0">
                <td colspan="3" class="text-info">暂无待办项</td>
            </tr>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="editOne" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">待办项编辑</h4>
                </div>
                <div class="modal-body text-center">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">待办事项:</label>
                            <div class="col-sm-10">
                                <input class="form-control" v-model="itemTemp.content" placeholder="待办事项">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">待办说明:</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" v-model="itemTemp.desc" rows="3" placeholder="待办说明"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" @click="addOneDo()">确定
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myAlert" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body text-center">

                </div>
                <div class="modal-footer">
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.1/vue.js"></script>
<script>
    new Vue({
        el: '#vm',
        data: {
            todoList: [],
            doneList: [],
            itemTemp: {}
        },
        created: function () {
            this.itemTemp;
        },
        methods: {
            addOne: function () {
                this.itemTemp = this.genOne();
                $('#editOne').modal('show');
            },
            addOneDo: function () {
                this.todoList.push(this.itemTemp);
            },
            genOne: function () {
                var now = new Date().getTime();
                return {
                    id: 't_' + now,
                    content: '',
                    desc: '',
                    status: 0, // 状态: 0-默认, 1-已完成, 2-已删除
                    createTime: now,
                    updateTime: now
                };
            }
        }
    });
</script>
</body>
</html>